
.TanPN-findYourPassword__model {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.TanPN-findYourPassword__modelOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    z-index: 4;
}

.TanPN-findYourPassword__modelBody {
    position: relative;
    width: 650px;
    height: 470px;
    margin: auto;
    z-index: 5;
    background: white;
    border-radius: 40px;
}

.TanPN-findYourPassword__header {
    padding: 29px 34px 29px 52px ;
    display: flex;
}

.iconnnnnn {
    cursor: pointer;
    color: #6160dc;
    width: 24px;
    height: 24px;
    margin-left: 170px;
    border-radius: 20px;
    size: 24px;
}

.TanPN-findYourPassword__txtheader {
    width: 400px;
    height: 53px;
    padding: 0px;

    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
}

.TanPN-findYourPassword__form {
    padding: 0px;
    width: 610px;
    height: 150px;
    margin: 30px 12.5px 30px 15px;
}
.TanPN-findYourPassword__txtform {
    font-size: 24px;
    font-family: sans-serif;
    padding-bottom: 45px;
}


.TanPN-inputEmail {
    margin: auto;
    padding: 0px 20px;
    width: 100%;
    height: 76px;
    border-radius: 40px;
    background: #f5f5f5;
}

.TanPN-findYourPassword__control {
    width: 618px;
    height: 61px;
    padding: 16px;
    margin: 62px 16px 43px 16px;
    display: flex;
    justify-content: flex-end;
}

.but {
    width: 220px;
    height: 60px;
    cursor: pointer;
}

.but.TanPN-findYourPassword_butCan {
    color: white;
    background-color: #6160dc;
    border-radius: 40px;
    padding: 0px;
    margin-left: 37px;
}

hr {
    width: 90%;
    height: 2px;
    background-color: #8e8ea1;
    margin: auto;
}

.but.TanPN-findYourPassword_butSave {
    color: white;
    background-color: #6160dc;
    border-radius: 40px;
    padding: 0px;
    margin-left: 37px;
}
